<div class="ouija-comment" class="ouija-comment" data-ouija-id="{{id}}">
    <span class="ouija-avatar">
        <img src="{{avatarUrl}}" alt="avatar">
    </span>
    <div class="ouija-author"><a href="https://twitter.com/{{username}}" alt="Timestamp">{{displayName}}</a></div>
    <div class="ouija-content">
        <p>{{content}}</p>
    </div>
</div>
